section
{
	font-size: 0.7em;
	margin:0 auto;
	width:1024px;
}
body{
	background-color: #666666;
	font-family: Microsoft JhengHei;
}
table{overflow: hidden; }
td{overflow: hidden;}



/*標頭底色*/
.header{
	background-color: #FFFFFF;
	margin: auto; 
	width: 100%;
	height: 100px;
	text-align: center;
	overflow: hidden;
	box-shadow: 5px 5px 5px #444444;
}

/*component間距*/
.headerCard
{
	margin-left: 25px;
	margin-right: 25px;
	float:left;
	text-align:center;
}

/*上下副標題字體*/
.smalltitle{
	font-size: 1.2em;
	color:rgb(100,100,100);
	line-height: 20px;
}

/*中央標題字體(主要)*/
.bigtitle{
	font-size: 2em;
	font-weight: bold;
	line-height: 40px;
}

/*中央標題字體(縮小)*/
.midtitle{
	font-size: 1.5em;
	font-weight: normal;
	line-height: 40px;	
}

/*按鈕列*/
.navigator{
	font-size: 1.2em;
	margin-top:2px;
	background-color: #333;
	box-shadow: 5px 5px 5px #444444;
	height: 35px;
	color:white;
	padding:10px;
}
.navigatorContainer{
	margin-left:10px;
}
/*按鈕設定*/
.navigatorButton{
	margin-top: 5px;
	margin-left: 30px;
	margin-right: 30px;
	float:left;
	text-align:center;
}

/*主畫面*/
.main-content{
	margin-top: 5px;
}
/*橫填充高度*/
.tr_spacing{
	height: 0px;
}
/*填充寬度*/
.td_spacing{
	width: 5px  ;
}

/*裝TPR+AB table之容器*/
.UpperLeftTableContainer{
	width:814px;
	box-shadow: 5px 5px 5px #444444;
	float:left;
}

/*TPR table之背景色*/
.TPRtable{
	background-color:#7BD979;
	width:100%;

}
/*TPR 第一欄的顏色設定*/
.td_FirstColumn_TPR{
	max-width: 90px;
	min-width: 90px;
	height: 20px;
	background-color: rgb(209,242,208);

}
/*TPR 第一列的顏色設定*/
.td_FirstRow_TPR {
	max-width: 25px;
	min-width: 25px;
	text-align: center;
	height: 20px;
	background-color: rgb(209,242,208);	
}
/*TPR 標題欄 標註上限下限之字體*/
.warnInfo_TPR{
	font-size: 0.8em;
	color:rgb(50,150,30);
}
/*TPR含數值的格子*/
.td_Data_TPR {
	max-width: 25px;
	min-width: 25px;
	text-align: center;
	height: 20px;
	background-color: rgb(235,249,235);
}
/*TPR不含數值的格子*/
.td_Data_TPR_Empty {
	max-width: 25px;
	min-width: 25px;
	text-align: center;
	height: 20px;
	background-color: rgb(176,232,175);
}


/*AB table之背景色設定*/
.ABtable{
	background-color:#DEB959;
	width:100%;
}
/*AB table第一欄*/
.td_FirstColumn_AB{
	max-width: 90px;
	min-width: 90px;
	height: 20px;
	background-color: rgb(243,231,197);
}
/*AB含數值的格子*/
.td_Data_AB {
	max-width: 25px;
	min-width: 25px;
	text-align: center;
	height: 20px;
	background-color: rgb(250,245,230);
}
/*AB不含數值的格子*/
.td_Data_AB_Empty {
	max-width: 25px;
	min-width: 25px;
	text-align: center;
	height: 20px;
	background-color: rgb(253,213,155);
}

/*IO table之背景色設定*/
.IO_table{
	background-color:#7BBBBB;
	width:814px;
	float:left;
	box-shadow: 5px 5px 5px #444444;
}
/*IO table第一欄*/
.td_FirstColumn_IO{
	max-width: 90px;
	min-width: 90px;
	height: 20px;
	background-color: rgb(209,231,231);
}
/*IO 含數值的格子*/
.td_Data_IO {
	max-width: 25px;
	min-width: 25px;
	text-align: center;
	height: 20px;
	background-color: rgb(235,245,245);
}
/*IO 不含數值的格子*/
.td_Data_IO_Empty {
	max-width: 25px;
	min-width: 25px;
	text-align: center;
	height: 20px;
	background-color: rgb(176,214,214);
		}


/*右邊輸入輸出加總區域寬度(擺放卡片的空間)*/
.IO_Cards{
	max-width:200px;
	min-width:200px;
	float:left;
	margin-left:5px;
}


/*一張卡片的大小、顏色設定*/
.IOCard{
	max-width:200px;
	min-width:200px;
	max-height:80px;
	min-height:80px;
	background-color:#C8A8FF;
	margin-bottom: 5px;
	box-shadow: 5px 5px 5px #444444;
}
.IOCard_Total{
	max-width:200px;
	min-width:200px;
	max-height:100px;
	min-height:100px;
	background-color:#3F5765;
	box-shadow: 5px 5px 5px #444444;
}

/*顯示卡片名稱的欄位*/
.shift{
	max-width:20px;
	min-width:20px;
	max-height:80px ;
	min-height:80px ;
	float:left;
}
.shift_Total{
	max-width:20px;
	min-width:20px;
	max-height:80px ;
	min-height:80px ;
	padding-top: 10px;
	color:#FFFFFF;
	float:left;
	font-weight: bolder;
}
.tr_shiftSpacing{
	height:20px ;
}
/*裝IO細項欄位(IO卡中間的六小格) 設定寬度*/
.IOContainer{
	max-width: 120px;
	min-width: 120px;
	height: 100%;
	float:left;
}
.IOInnerCard{
	background: rgb(222,203,255);
	max-height: 40px;
	min-height: 40px;
	max-width: 40px;
	min-width: 40px;
	float:left;
}
.IOInnerCard_Wide{
	background: rgb(228,212,255);
	max-height: 60px;
	min-height: 60px;
	max-width: 60px;
	min-width: 60px;
	float:left;
}
.IOInnerCard_Total{
	background: rgb(31,43,50);
	max-height: 50px;
	min-height: 50px;
	max-width: 40px;
	min-width: 40px;
	float:left;
}
.IOInnerCard_Wide_Total{
	background: rgb(25,35,40);
	max-height: 50px;
	min-height: 50px;
	max-width: 60px;
	min-width: 60px;
	float:left;
}

/*IO卡片字體設定*/
.IOInnerSmall{
	line-height: 10px;
	font-size: 0.8em;
	color:rgb(100,100,100);
}
.IOInnerBig{
	font-size: 1.2em;
	line-height: 15px;
}
.IOInnerBigWarn{
	font-size: 1.2em;
	line-height: 15px;
	color:rgb(255,0,0);
}
.IOInnerBigBold{
	font-size: 1.2em;
	line-height: 15px;
}

.IOInnerSmallTotal{
	line-height: 13px;
	font-size: 0.8em;
	color:rgb(180,180,180);
}
.IOInnerBigTotal{
	font-size: 1.2em;
	line-height: 20px;
	color:#FFFFFF;
}
.IOInnerBigTotalWarn{
	font-size: 1.2em;
	line-height: 20px;
	color:#FFFFFF;
	color:rgb(255,150,0);
}
.IOInnerBigTotalBold{
	font-size: 1.2em;
	line-height: 20px;
	color:#FFFFFF;
	color:#FFFFFF;
}

/*IO加總 欄位大小*/  
.IOBalance{
	max-width: 60px;
	min-width: 60px;
	height: 100%;
	float:left;
}

.tr_IObalancespacing{
	height: 20px;
	background: rgb(228,212,255);
}


/*事件欄位*/
.event{
	background-color:#84B4BF;
	max-width:205px;
	min-width:205px;
	max-height: 295px;
	min-height: 295px;
	float:left;
	margin-left: 5px;
	margin-bottom: 5px;
	box-shadow: 5px 5px 5px #444444;
	overflow-y:scroll;
	overflow-x:hidden;
}
/*首欄寬度*/
.td_FirstColumn_event{
	max-width:30px;
	min-width:30px;
	max-height: 20px;
	min-height: 20px;
	text-align: center;
	background-color: rgb(194,218,223);
}
/*第二欄寬度*/
.tdInFirstRow_event {
	max-width: 140px;
	min-width: 140px;
	text-align: center;
	max-height: 20px;
	min-height: 20px;
	background-color: rgb(194,218,223);
}
.tdInTable_event {
	text-align: center;
	background-color: rgb(230,240,242);
	padding-top: 2px;
	padding-bottom: 2px;
	font-size:0.9em;
}

/*下方區域空間*/

.bottom-content{
	width:100%;
	margin-top: 10px;
}


/*左方欄(呼吸器及ABG)*/
.bottomLeft{
	width:500px;
	margin-right:5px;
	float:left;
}

/*ventilator table*/
.ventilator_table{
	background-color: #75E243;
	box-shadow: 5px 5px 5px #444444;
	margin-bottom:10px;
}
.ventilator_table_innerTD1
{
	width: 35px;
	text-align: center;
	height: 20px;
	background-color: #b3ef98;
}
.ventilator_table_innerTD2
{
	width: 80px;
	text-align: center;
	height: 20px;
	background-color: #b3ef98;
}
.ventilator_table_innerTD3
{
	width: 350px;
	text-align: center;
	height: 20px;
	background-color: #b3ef98;
}
.ventilator_table_Content_TD
{	
	text-align: center;
	height: 20px;
	background-color: #e3f9d9;
}


/*ABG table*/
.ABG_table{
	background-color: #2ADD75;
	box-shadow: 5px 5px 5px #444444;
	margin-bottom:8px;
}
.td_spacing_ABG_table{
	width:1px;
	background-color: #2ADD75;
}
.ABG_table_TD_Time{
	width: 35px;
	text-align: center;
	height: 20px;
	background-color: #95eeba;
}
.ABG_table_TD_Element{
	width: 26px;
	text-align: center;
	height: 20px;
	background-color: #95eeba;
}
.ABG_table_TD_Content{
	text-align: center;
	height: 20px;
	background-color: #c0f5d6;
}


/*右方欄(Labdata)*/
.bottomRight{
	width:510px;
	float:left;
	margin-left:5px;
}
.bottomRight table{
	border-collapse: collapse;
}

.DateInfo{
	font-size: 1em;
	line-height: 10px;
	color: rgb(150,150,150);
}
.glucoseCard{
	width:120px;
	height: 80px;
	background-color: #EDF3FF;
	box-shadow: 5px 5px 5px #444444;
	display: inline-block;
	margin-right: 2px;
	margin-bottom: 2px;
}
.glucoseTable{
	width:120px;
	height: 80px;
	text-align: center;
}
.glucoseTitle{
	font-size: 1.1em;
	line-height: 10px;
	color: rgb(0,0,0);
}
.glucoseMainWord{
	font-size: 2.2em;
	line-height: 30px;
	font-weight: bolder;
}

.CBCCard{
	width:377px;
	height: 80px;
	background-color: #EDF3FF;
	box-shadow: 5px 5px 5px #444444;
	display: inline-block;
	margin-right: 2px;
	margin-bottom: 2px;	
}
.CBCtable{
	width:377px;
	height: 80px;
	text-align: center;
}
.CBCtitle{
	font-size: 1.1em;
	line-height: 15px;
}
.CBCMainWord{
	font-size: 2.2em;
	line-height: 20px;
	font-weight: bolder;
}
.CBCSubInfo{
	font-size: 1.1em;
	font-weight: bolder;
	line-height:5px;
}

.EleCard{
	width:502px;
	height: 70px;
	background-color: #EDF3FF;
	box-shadow: 5px 5px 5px #444444;
	display: inline-block;
	margin-right: 2px;
	margin-bottom: 2px;	
}
.EleTable{
	width:502px;
	height: 70px;
	text-align: center;
}
.EleTitle{
	font-size: 1.1em;
	line-height: 5px;
}
.EleMainWord{
	font-size: 2.2em;
	line-height:30px;
	font-weight: bolder;
}

.CRPCard{
	width:80px;
	height: 70px;
	background-color: #EDF3FF;
	box-shadow: 5px 5px 5px #444444;
	display: inline-block;
	margin-right: 2px;
	margin-bottom: 2px;
}
.CRPTable{
	width:80px;
	height: 70px;
	text-align: center;
}
.CRPTitle{
	font-size: 1.1em;
	line-height: 5px;
}
.CRPMainWord{
	font-size: 2.2em;
	line-height:30px;
	font-weight: bolder;
}

.AbxCard{
	width: 333px;
	height: 70px;
	background-color: #EDF3FF;
	box-shadow: 5px 5px 5px #444444;
	display: inline-block;
	margin-right: 2px;
	margin-bottom: 2px;	
}
.AbxTable{
	width:333px;
	height: 70px;
	text-align: center;	
}
.AbxTitle{
	font-size: 1.1em;
	line-height: 5px;
}
.AbxMainWord{
	font-size: 1.5em;
	line-height:30px;
	font-weight: bolder;
}

.RenalCard{
	width:164px;
	height: 70px;
	background-color: #EDF3FF;
	box-shadow: 5px 5px 5px #444444;
	display: inline-block;
	margin-right: 2px;
	margin-bottom: 2px;	
}
.RenalTable{
	width:164px;
	height: 70px;
	text-align: center;
}
.RenalTitle{
	font-size: 1.1em;
	line-height: 5px;
}
.RenalMainWord{
	font-size: 2.2em;
	line-height:30px;
	font-weight: bolder;
}

.LiverCard{
	width:164px;
	height: 70px;
	background-color: #EDF3FF;
	box-shadow: 5px 5px 5px #444444;
	display: inline-block;
	margin-right: 2px;
	margin-bottom: 2px;	
}
.LiverTable{
	width:164px;
	height: 70px;
	text-align: center;
}
.LiverTitle{
	font-size: 1.1em;
	line-height: 5px;
}
.LiverMainWord{
	font-size: 2.2em;
	line-height:30px;
	font-weight: bolder;
}

.TbilCard{
	width:164px;
	height: 70px;
	background-color: #EDF3FF;
	box-shadow: 5px 5px 5px #444444;
	display: inline-block;
	margin-right: 2px;
	margin-bottom: 2px;
}
.TbilTable{
	width:164px;
	height: 70px;
	text-align: center;
}
.TbilTitle{
	font-size: 1.1em;
	line-height: 5px;
}
.TbilMainWord{
	font-size: 2.2em;
	line-height:30px;
	font-weight: bolder;
}

.BoneMarkerCard{
	width:198px;
	height: 70px;
	background-color: #EDF3FF;
	box-shadow: 5px 5px 5px #444444;
	display: inline-block;
	margin-right: 2px;
	margin-bottom: 2px;	
}
.BoneMarkerTable{
	width:198px;
	height: 70px;
	text-align: center;
}
.BoneMarkerTitle{
	font-size: 0.9em;
	line-height: 5px;
}
.BoneMarkerMainWord{
	font-size: 1.4em;
	line-height:30px;
	font-weight: bold;
}

.AnemiaCard{
	width:300px;
	height: 70px;
	background-color: #EDF3FF;
	box-shadow: 5px 5px 5px #444444;
	display: inline-block;
	margin-right: 2px;
	margin-bottom: 2px;	
}
.AnemiaTable{
	width:300px;
	height: 70px;
	text-align: center;
}
.AnemiaTitle{
	font-size: 0.9em;
	line-height: 5px;
}
.AnemiaMainWord{
	font-size: 1.4em;
	line-height:30px;
	font-weight: bold;
}

.clear{
	clear:both;
}

.upperWord{
	vertical-align:super;
	font-size: 0.7em;
}

.lowerWord{
	vertical-align:bottom;
	font-size: 0.7em;
}

.fade{
	font-size: 0.7em;
	color:rgb(150,150,150);
}
.blue{
	color:rgb(0,20,80);	
	font-size: 0.9em;
}


/*span 警告字體*/
.warn{
	font-weight: bolder;
	color:rgb(255,0,0);
}

.warn2{
	font-weight: bolder;
	color:rgb(255,150,0);
}

.underline{
	text-decoration: underline;
}

.warn3{
	color:rgb(255,0,0);
}

.smallWord{
	font-size: 0.9em;
}
