section
{
	margin:0 auto;
	width:1440px;
}
body{
	background-color: #666666;
	font-family: Microsoft JhengHei;
}
table{overflow: hidden;}
td{overflow: hidden;}
.header{
	background-color: #FFFFFF;
	margin: auto; 
	width: 100%;
	height: 115px;
	text-align: center;
	overflow: hidden;
	box-shadow: 5px 5px 5px #444444;
}

.title{
	padding-top : 20px;
	padding-bottom : 0px;
	font-size: 1.2em;
	font-weight: bold;
	height: 50px;
}

.smalltitle{
	font-size: 1em;
	color:rgb(100,100,100);
}
.bigtitle{
	font-size: 2em;
	font-weight: bold;
}

.midtitle{
	font-size: 1.5em;
	font-weight: bold;
}

.headerCard
{
	margin-left: 25px;
	margin-right: 25px;
	float:left;
	text-align:center;
}

.navigator{
	margin-top:2px;
	background-color: #333;
	box-shadow: 5px 5px 5px #444444;
	height: 35px;
	color:white;
	padding:10px;
}

.navigatorButton{
	margin-top: 5px;
	margin-left: 40px;
	margin-right: 40px;
	float:left;
	text-align:center;
}

.main-content{
	margin-top: 20px;
}

.tr_spacing{
	height: 2px;
}

.UpperLeftTableContainer{
	width:1150px;
	box-shadow: 5px 5px 5px #444444;
	float:left;
}
.TPRtable{
	background-color:#7BD979;
	width:100%;
	height: 310px;
}
.tdSpacing_TPRtable{
	background-color:#7BD979 ;
	width: 1px  ;
}

.ABtable{
	background-color:#FFD979;
	width:100%;
	height: 68px;
}
.tdSpacing_ABtable{
	background-color:#FFD979 ;
	width: 1px  ;
}
.IO_table{
	background-color:#7BBBBB;
	width:1150px;
	height: 100%;
	float:left;
	box-shadow: 5px 5px 5px #444444;
}
.tdSpacing_IO{
	background-color:#7BBBBB ;
	width: 1px  ;	
}


.td_FirstColumn{
	width:120px;
	height: 25px;
	background-color: rgba(255,255,255,0.65);
}
.tdInFirstRow {
	width: 37.5px;
	text-align: center;
	height: 25px;
	background-color: rgba(255,255,255,0.65);
}


.tdInTable {
	width: 37.5px;
	text-align: center;
	height: 25px;
	background-color: rgba(255,255,255,0.85);
}

.tdInTableEmpty {
	width: 37.5px;
	text-align: center;
	height: 25px;
	background-color: rgba(255,255,255,0.6);
}


.event{
	background-color:#84B4BF;
	width:270px;
	height: 365px;
	float:left;
	margin-left: 20px;
	margin-bottom: 10px;
	box-shadow: 5px 5px 5px #444444;
	overflow-y:scroll;
}
.tdSpacing_TPRtable_event{
	background-color:#84B4BF ;
	width: 0px  ;
}
.td_FirstColumn_event{
	width:50px;
	height: 25px;
	text-align: center;
	background-color: rgba(255,255,255,0.7);
}
.tdInFirstRow_event {
	width: 220px;
	text-align: center;
	height: 25px;
	background-color: rgba(255,255,255,0.7);
}

.tdInTable_event {
	text-align: center;
	background-color: rgba(255,255,255,0.95);
}



.IO_content{
	margin-bottom: 20px;
}




.IO-detail{
	width:270px;
	float:left;
	margin-left:20px;
}

.IOCard{
	width: 270px;
	height:100px ;
	background-color:#C8A8FF;
	margin-bottom: 5px;
	box-shadow: 5px 5px 5px #444444;
}



.shift{
	width: 20px;
	height: 100%;
	background: rgba(0,0,0,0.2);
	float:left;
}

.IOContainer{
	height: 100%;
	float:left;
}

.IOInnerCard{
	background: rgba(255,255,255,0.2);
	height: 50px;
	width: 50px;
	float:left;
}
.IOInnerCardWide{
	background: rgba(255,255,255,0.2);
	height: 50px;
	width: 90px;
	float:left;
}

.IOInnerCard table,
.IOInnerCardWide table,
.IOInnerCardTotal table,
.IOInnerCardWideTotal table,
.IOBalance table,
.IOBalanceTotal table
{
	height: 100%;
	width: 100%;
	border-collapse: collapse;
}

.IOInnerSmall{
	font-size: 0.8em;
	text-align: center;
	color:rgb(100,100,100);
}
.IOInnerBig{
	font-size: 1.2em;
	text-align: center;
	font-weight: border;
}
.IOBalance{
	height: 100%;
	width: 60px;
	float:left;
	font-size: 1.1em;
}

.tr_IObalancespacing{
	height: 25px;
}

.tr_shiftspacing{
	height: 20px;
}


.TotalIOCard{
	width: 270px;
	height:120px ;
	background-color:#3F5765;
	margin-bottom: 5px;
	box-shadow: 5px 5px 5px #444444;
}

.shifttotal{
	width: 20px;
	height: 100%;
	background: rgba(0,0,0,0.2);
	color:#FFFFFF;
	float:left;
	font-weight: bolder;
}

.IOInnerCardTotal{
	background: rgba(0,0,0,0.5);
	height: 60px;
	width: 50px;
	float:left;
}
.IOInnerCardWideTotal{
	background: rgba(0,0,0,0.5);
	height: 60px;
	width: 90px;
	float:left;
}

.IOInnerSmallTotal{
	font-size: 0.8em;
	text-align: center;
	color:rgb(180,180,180);
}
.IOInnerBigTotal{
	font-size: 1.2em;
	text-align: center;
	color:#FFFFFF;
	font-weight: border;
}
.IOBalanceTotal{
	height: 100%;
	width: 60px;
	float:left;
	font-size: 1.1em;
}

.tr_IObalancespacingTotal{
	height: 35px;
}


.bottom-content{
	width:100%;
	margin-top: 10px;
}

.bottomLeft{
	width:710px;
	float:left;
	margin-left:10px;
}
.bottomLeft table{
	border-collapse: collapse;
}
.bottomRight{
	width:710px;
	margin-right:10px;
	
	float:left;
}

.DateInfo{
	font-size: 1em;
	line-height: 10px;
	color: rgb(150,150,150);
}


.glucoseCard{
	width:170px;
	height: 130px;
	background-color: #BAD6FF;
	box-shadow: 5px 5px 5px #444444;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
}
.glucoseTable{
	width:170px;
	height: 130px;
	text-align: center;
}
.glucoseTitle{
	font-size: 1em;
	line-height: 10px;
	color: rgb(0,0,0);
}
.glucoseMainWord{
	font-size: 3em;
	line-height: 60px;
	font-weight: bolder;
}

.CBCCard{
	width:520px;
	height: 130px;
	background-color: #BAD6FF;
	box-shadow: 5px 5px 5px #444444;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;	
}
.CBCtable{
	width:520px;
	height: 130px;
	text-align: center;
}
.CBCtitle{
	font-size: 1em;
	line-height: 10px;
}
.CBCMainWord{
	font-size: 2.4em;
	line-height: 30px;
	font-weight: bolder;
}
.CBCSubInfo{
	font-weight: border;
	line-height:13px;
}

.EleCard{
	width:700px;
	height: 110px;
	background-color: #BAD6FF;
	box-shadow: 5px 5px 5px #444444;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;	
}
.EleTable{
	width:700px;
	height: 110px;
	text-align: center;
}
.EleTitle{
	font-size: 1em;
	line-height: 10px;
}
.EleMainWord{
	font-size: 2.2em;
	line-height:35px;
	font-weight: bolder;
}

.CRPCard{
	width:124px;
	height: 110px;
	background-color: #BAD6FF;
	box-shadow: 5px 5px 5px #444444;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
}
.CRPTable{
	width:124px;
	height: 110px;
	text-align: center;
}
.CRPTitle{
	font-size: 1em;
	line-height: 10px;
}
.CRPMainWord{
	font-size: 2.2em;
	line-height:35px;
	font-weight: bolder;
}

.AbxCard{
	width:433px;
	height: 110px;
	background-color: #BAD6FF;
	box-shadow: 5px 5px 5px #444444;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;	
}
.AbxTable{
	width:433px;
	height: 110px;
	text-align: center;	
}
.AbxTitle{
	font-size: 1em;
	line-height: 10px;
}
.AbxMainWord{
	font-size: 1.5em;
	line-height:35px;
	font-weight: bolder;
}

.RenalCard{
	width:257px;
	height: 90px;
	background-color: #BAD6FF;
	box-shadow: 5px 5px 5px #444444;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;	
}
.RenalTable{
	width:257px;
	height: 90px;
	text-align: center;
}
.RenalTitle{
	font-size: 1em;
	line-height: 10px;
}
.RenalMainWord{
	font-size: 2.2em;
	line-height:35px;
	font-weight: bolder;
}

.LiverCard{
	width:257px;
	height: 90px;
	background-color: #BAD6FF;
	box-shadow: 5px 5px 5px #444444;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;	
}
.LiverTable{
	width:257px;
	height: 90px;
	text-align: center;
}
.LiverTitle{
	font-size: 1em;
	line-height: 10px;
}
.LiverMainWord{
	font-size: 2.2em;
	line-height:35px;
	font-weight: bolder;
}

.TbilCard{
	width:168px;
	height: 90px;
	background-color: #BAD6FF;
	box-shadow: 5px 5px 5px #444444;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
}
.TbilTable{
	width:168px;
	height: 90px;
	text-align: center;
}
.TbilTitle{
	font-size: 1em;
	line-height: 10px;
}
.TbilMainWord{
	font-size: 2.2em;
	line-height:35px;
	font-weight: bolder;
}

.BoneMarkerCard{
	width:200px;
	height: 80px;
	background-color: #BAD6FF;
	box-shadow: 5px 5px 5px #444444;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;	
}
.BoneMarkerTable{
	width:200px;
	height: 80px;
	text-align: center;
}
.BoneMarkerTitle{
	font-size: 0.9em;
	line-height: 9px;
}
.BoneMarkerMainWord{
	font-size: 1.4em;
	line-height:25px;
	font-weight: bold;
}

.AnemiaCard{
	width:282px;
	height: 80px;
	background-color: #BAD6FF;
	box-shadow: 5px 5px 5px #444444;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;	
}
.AnemiaTable{
	width:282px;
	height: 80px;
	text-align: center;
}
.AnemiaTitle{
	font-size: 0.9em;
	line-height: 9px;
}
.AnemiaMainWord{
	font-size: 1.4em;
	line-height:25px;
	font-weight: bold;
}

.HemolysisCard{
	width:200px;
	height: 80px;
	background-color: #BAD6FF;
	box-shadow: 5px 5px 5px #444444;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;	
}
.HemolysisTable{
	width:200px;
	height: 80px;
	text-align: center;
}
.HemolysisTitle{
	font-size: 0.9em;
	line-height: 9px;
}
.HemolysisMainWord{
	font-size: 1.4em;
	line-height:25px;
	font-weight: bold;
}


.ventilator_table{
	background-color: #75E243;
	box-shadow: 5px 5px 5px #444444;
	margin-bottom:20px;
}
.td_spacing_ventilator_table{
	width:1px;
	background-color: #75E243;
}
.ventilator_table_innerTD1
{
	width: 80px;
	text-align: center;
	height: 25px;
	background-color: rgba(255,255,255,0.45);
}
.ventilator_table_innerTD2
{
	width: 150px;
	text-align: center;
	height: 25px;
	background-color: rgba(255,255,255,0.6);
}
.ventilator_table_innerTD3
{
	width: 460px;
	text-align: center;
	height: 25px;
	background-color: rgba(255,255,255,0.6);
}

.ABG_table{
	background-color: #2ADD75;
	box-shadow: 5px 5px 5px #444444;
}
.td_spacing_ABG_table{
	width:1px;
	background-color: #2ADD75;
}
.ABG_table_innterTD1{
	width: 80px;
	text-align: center;
	height: 25px;
	background-color: rgba(255,255,255,0.45);
}
.ABG_table_innterTD{
	width: 42px;
	text-align: center;
	height: 25px;
	background-color: rgba(255,255,255,0.6);
}


.clear{
	clear:both;
}

.upperWord{
	vertical-align:super;
	font-size: 0.7em;
}

.lowerWord{
	vertical-align:bottom;
	font-size: 0.7em;
}

.fade{
	font-size: 0.8em;
	color:rgb(150,150,150);
}
.blue{
	color:rgb(0,20,80);	
	font-size: 0.9em;
}
.warn{
	font-weight: bolder;
	color:rgb(255,0,0);
}
.warn2{
	font-weight: bolder;
	color:rgb(255,150,0);
}